.navigation-items {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}


@media screen and (min-width: 500px) {
    .navigation-items {
        flex-flow: row;
    }
}